* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --first-font: "Arvo", serif;
    --second-font: Montserrat, sans-serif;
    --normal-font: "Open Sans", serif;
}

body {
    font-family: var(--normal-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--first-font);
    font-weight: 400;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
        "header header"
        "sec-2 sec-2"
        "sec-3 sec-4"
        "sec-5 sec-5"
        "sec-6 sec-7"
        "sec-8 sec-7"
        "sec-9 sec-9"
        "footer footer";
}

.header {
    grid-area: header;
    display: flex;
    background-color: rgb(247, 248, 249);
    justify-content: center;
}

.inner-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    justify-content: center;
}

.span-bold {
    font-family: var(--second-font);
    color: #9fa3a7;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
}

h1 {
    font-size: 35px;
    line-height: 1.4em;
    color: #333333;
    line-height: 50px;
}

.header a {
    color: RGB(39, 185, 194);
}

/* ! */
.sec-2 {
    grid-area: sec-2;
    display: flex;
    flex-direction: row;
}

.inner-sec-2 {
    padding: 30px 0 0;
    display: flex;
    justify-content: space-evenly;
}

.sec-2 .text-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;

    justify-content: center;
}

h3 {
    font-size: 22px;
    line-height: 32px;
}

.text-p {
    color: #9fa3a7;
    font-size: 14px;
    line-height: 26px;
}

.sec-2 .img-box {
    width: 30%;
    align-self: flex-end;
}

img {
    max-width: 100%;
    display: block;
}

/* !------------------------- */

.sec-3 {
    grid-area: sec-3;
    background-color: #f05638;

    display: flex;
    align-items: center;
    padding: 50px 0;
    text-align: center;
}

.inner-sec-m {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-3 h3 {
    color: #fff;
    font-weight: 700;
    margin: 10px 0 20px;
}

.text-content a {
    text-decoration: none;
    color: #ffc80a;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.4px;
    line-height: 26px;
    margin-top: 20px;
}

/* !----------------------- */
.sec-4 {
    grid-area: sec-4;
    display: flex;
    align-items: center;
    padding: 50px 0;
    gap: 10px;
    text-align: center;
    background-color: rgb(247, 248, 249);
}

.sec-4 h3 {
    margin: 10px 0 20px;
}

a.link-teal {
    color: #27b9c2;
}

/* !-------------------------------- */
.sec-5 {
    grid-area: sec-5;

    padding: 50px 0 0;
    background-color: #fff;
    display: flex;
}

.inner-sec-5 {
    display: flex;
    justify-content: space-evenly;
}

.tilte-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    width: 50%;
}

.tilte-box img {
    width: 90%;
    display: block;
}

.sec-5 .text-content {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* !----------------------- */
.sec-6 {
    grid-area: sec-6;
    display: flex;
    padding: 65px 0px;
    align-items: center;
    justify-content: center;
    background-color: RGB(56, 213, 244);
}

.inner-sec-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #35cfed;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    width: 200px;
    height: 200px;
    justify-content: center;
}

.sec-6 h3 {
    color: #fff;
}

.sec-6 img {
    width: 40px;
}

/* !-------------------------- */
.sec-7 {
    grid-area: sec-7;
    background-color: #8f76bc;
    display: flex;
}

.inner-sec-7 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    padding: 20px 0;
}

.inner-sec-7 .img-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8166b0;
    width: 140%;
    position: relative;
    left: -20%;
    padding: 20px 0;
    border-radius: 50%;
    gap: 10px;
}

.inner-sec-7 .img-con .icon-span {
    background-color: #8b72b6;
    padding: 5px 20px;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 5px;
    position: relative;
}

.icon-span::before {
    content: " ";
    position: absolute;
    top: 7px;

    left: 6px;
    width: 10px;
    height: 10px;

    background-image: url(../imges/5bc2f42d5a5ed9663e707e7d_Shape.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.inner-sec-7 .img-con img {
    width: 230px;
}

.inner-sec-7 span {
    color: #fff;
}

.inner-sec-7 .text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 5px;
    color: #fff;
    gap: 20px;
}

.inner-sec-7 .text-content p {
    font-size: 14px;
    line-height: 26px;
}

.inner-sec-7 .text-content button {
    padding: 17px;
    background-color: #ffc80a;
    border-radius: 25px;
    border: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.4px;
    line-height: 26px;
}

/* !--------------------------- */

.sec-8 {
    grid-area: sec-8;
    display: flex;
    background-color: #93b6b7;
}

.inner-sec-8 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inner-sec-8 span {
    background-color: RGB(250, 104, 79);
    margin: 20px;
    font-size: 8px;
    font-weight: 700;
    padding: 0 10px;
    border-radius: 25px;
    letter-spacing: 2px;
    line-height: 20px;
    color: #fff;
    width: fit-content;
}

.inner-sec-8 h3 {
    text-align: center;
    color: #fff;
}

.inner-sec-8 .img-box {
    background-image: url(../imges/5bc2f42d5a5ed97dab707e7e_UX.png);
    background-position: 15px 0px;
    background-size: contain;
    background-repeat: no-repeat;

    width: 100%;
}

.inner-sec-8 .img-box img {
    width: 90%;
    margin: 10px auto;

    position: relative;

    top: 10px;
    left: -10%;
}

/* !-------------------7 */
.sec-9 {
    grid-area: sec-9;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.inner-sec-9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.inner-sec-9 span {
    background-color: #7bc424;
    margin: 20px;
    font-size: 8px;
    font-weight: 700;
    padding: 0 10px;
    border-radius: 25px;
    letter-spacing: 2px;
    line-height: 20px;
    color: #fff;
}

/* !------------------------- */

.footer {
    grid-area: footer;
    background-color: #2c2c2c;
    display: flex;
}

.inner-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-box {
    width: 50%;
}

.footer-content {
    width: 40%;
    padding: 20px;
    color: #fff;
}

.footer img {
    width: 120%;
    position: relative;
    left: -20%;
}

@media screen and (max-width: 500px) {
    .parent {
        grid-auto-rows: auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, auto);
        grid-template-areas:
            "header "
            "sec-2 "
            "sec-3"
            " sec-4"
            "sec-5 "
            "sec-6"
            "sec-8 "
            "sec-7"
            "sec-9"
            "footer ";
    }

    .header {
        grid-area: header;
        padding: 50px 0;
    }

    .sec-2 {
        grid-area: sec-2;
    }

    .inner-sec-2 {
        flex-direction: column;
        gap: 10px;
    }

    .sec-2 .text-content,
    .sec-2 .img-box {
        width: 90%;
        margin: auto;
    }

    .sec-2 .img-box {
        transform: translateX(-10px);
    }

    .sec-3 {
        grid-area: sec-3;
    }

    .sec-4 {
        grid-area: sec-4;
    }

    .sec-5 {
        grid-area: sec-5;
    }

    .inner-sec-5 {
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    .sec-5 .tilte-box {
        align-items: center;
        text-align: center;
    }

    .sec-5 .tilte-box,
    .sec-5 .text-content {
        width: 90%;
        margin: auto;
    }

    .sec-6 {
        grid-area: sec-6;
    }

    .inner-sec-6 {
        width: 200px;
        height: 200px;
    }

    .sec-7 {
        grid-area: sec-7;
    }

    .sec-8 {
        grid-area: sec-8;
    }

    .inner-sec-8 .img-box {
        background-position: 40px 0;
    }

    .sec-9 {
        grid-area: sec-9;
        padding: 50px 0;
    }

    .footer {
        grid-area: footer;
    }

    .inner-footer {
        flex-direction: column;
    }

    .footer .img-box {
        width: 100%;
    }

    .footer-content {
        width: 100%;
        padding: 0px;
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
    .parent {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 25%;
        grid-template-rows: 1fr auto auto 0.5fr;

        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "sec-2 sec-2 header header"
            "sec-3 sec-5 sec-5 sec-7"
            "sec-4 sec-8 sec-8 sec-7"
            "sec-6 sec-9 footer footer";
    }

    .sec-2 {
        grid-area: sec-2;
        padding-top: 40px;
    }

    .sec-2 .text-content {
        padding-top: 20px;
        gap: 15px;
    }

    .sec-2 .img-box {
        width: 33%;
        align-self: flex-end;
    }

    .header {
        grid-area: header;
        justify-content: center;
    }

    .header h1 {
        font-size: 45px;
        line-height: 60px;
        max-width: 500px;
    }

    .sec-3 {
        grid-area: sec-3;
    }

    .sec-3 .img-box {
        width: 90%;
    }

    .sec-5 {
        grid-area: sec-5;
        padding-inline: 35px;
    }

    .inner-sec-5 {
        justify-content: center;
    }

    .sec-5 .tilte-box,
    .sec-5 .text-content {
        width: 45%;
    }

    .sec-5 h3 {
        max-width: 150px;
    }

    .sec-5 .tilte-box {
        justify-content: space-between;
    }

    .sec-4 {
        grid-area: sec-4;
    }

    .sec-8 {
        grid-area: sec-8;
    }

    .inner-sec-8 {
        align-items: center;
    }

    .inner-sec-8 span {
        align-self: baseline;
    }

    .inner-sec-8 .img-box {
        background-position: 90px 0;
    }

    .sec-7 {
        grid-area: sec-7;
    }

    .inner-sec-7 .img-con {
        width: 100%;
        left: 0;
    }

    .sec-6 {
        grid-area: sec-6;
        padding: 0;
    }

    .inner-sec-6 {
        width: 250px;
        height: 100%;
    }

    .sec-9 {
        grid-area: sec-9;
    }

    .footer {
        grid-area: footer;
    }

    .footer .img-box {
        width: 30%;
    }

    .footer .img-box img {
        left: 0;
    }
}